<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>file upload test</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  <form id="myForm" action="/upload" method="post" name="myForm" encType="multipart/form-data" style="margin: auto;">
    <div>
      <label for="rating">file Upload:</label>
      <input type="file" name="file_upload" style="margin-top:10px;" />
    </div>
    <input type="submit" value="Submit!">
  </form>

  <div>
    <a id="fileDownload" href="/products/fileDownload">
      <span><i class="fas fa-plus-circle"></i></span>test.jpg
    </a>

  </div>

  <script>
    $('form').submit(function(event) {
      event.preventDefault();
      var form = $('form')[0];
      var formData = new FormData(form);

      $.ajax({
        url: '/products/addData',
        data: formData,
        contentType: false,
        processData: false,
        type: 'POST',
        success: function(data) {
          alert(data);
        }
      });
    });

    function filedown() {
      var path = '/Users/doublechain/Documents/workspace/wkimdev-marketplace/tmp/test.jpg';
      $('#fileDownload').attr('href', path)
    }

  </script>
</body>

</html>
