<!DOCTYPE html>
<html>

<head>
  <% include ./templates/head %>

</head>

<body>
  <!-- header -->
  <header>
    <% include ./templates/header %>
  </header>

  <div class=" container-fluid">
    <div class="row">
      <% include ./templates/sidebar %>

      <!-- Dashboard 영역 -->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard</h1>
        </div>

        <h2>Main DashBoard</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>#</th>
                <th>Header</th>
                <th>Header</th>
                <th>Header</th>
                <th>Header</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1,001</td>
                <td>Lorem</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
              </tr>
              <tr>
                <td>1,002</td>
                <td>amet</td>
                <td>consectetur</td>
                <td>adipiscing</td>
                <td>elit</td>
              </tr>
            </tbody>
          </table>
        </div>
      </main>

    </div>
  </div>

  <!--데이터 타입 추가 팝업-->
  <% include ./templates/modals %>

  <script>
    var loginId = "<%=loginId %>";

    function commitAddDataType() {
      // domain page로 이동,
      // 등록한 데이터 type list들이 보여진다. 
      alert("33");
      var title = $("#name").val();
      var field01 = $("#field01").val();
      var field02 = $("#field02").val();
      var field03 = $("#field03").val();
      var field04 = $("#field04").val();
      var field05 = $("#field05").val();

      $.ajax({
        url: '/domains/addDataType',
        method: 'post',
        data: {
          title: title,
          field01: field01,
          field02: field02,
          field03: field03,
          field04: field04,
          field05: field05,
          provider: loginId
        },
        success: function(result) {
          console.log(result);
        },
        error: function(err) {
          console.log(err);
          alert('데이터 통신 에러');
          return;
        }
      });

    }

  </script>

</body>

</html>
