<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <% include ./templates/head %>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <!-- <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script> -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <style>
    .container {
      max-width: 3000px;
    }

    .v-card__actions {
      background-color: #00897b !important;
    }

  </style>
</head>

<body>
  <!-- header -->
  <% include ./templates/header %>

  <div class=" container-fluid">
    <div class="row">
      <% include ./templates/sidebar %>


      <!-- Dashboard 영역 -->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Market</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
          </div>
        </div>

        <h2>MarketPlace</h2>

        <div id="app">
          <v-app id="inspire2">
            <!-- <div>{{ message }}</div> -->
            <v-container fluid grid-list-xl>
              <v-layout row wrap>
                <v-flex v-for="i in items.cnt" :key="`3${i}`" xs3>

                  <v-card>
                    <a v-bind:href="'/markets/products/' +items.itemNum[i-1]">
                      <v-img src="https://cdn.vuetifyjs.com/images/cards/desert.jpg" aspect-ratio="2.75"></v-img>
                    </a>

                    <v-card-title primary-title>
                      <div>
                        <h3 class="headline mb-0">{{ items.itemTitle[i-1] }} </h3>
                        <div> {{ items.itemTitle[i-1] }} </div>
                      </div>
                    </v-card-title>

                    <v-card-actions>
                      <v-btn flat color="white">ItemNo. {{ items.itemNum[i-1] }}</v-btn>
                      <v-btn flat color="white">{{ items.itemPrice[i-1] }} OAS</v-btn>
                      <v-icon class="white--text">add_shopping_cart</v-icon>
                    </v-card-actions>
                  </v-card>

                </v-flex>

                <!-- end -->
              </v-layout>
            </v-container>
          </v-app>
        </div>

        <div>
          <h1>footer</h1>
        </div>

      </main>

    </div>
  </div>

  <!--데이터 타입 추가 팝업-->
  <% include ./templates/modals %>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
  <script>
    var loginId = "<%=loginId %>";

    // 루트 인스턴스 생성
    var app = new Vue({
      el: '#app',
      data: {
        items: {
          cnt: 0,
          itemPrice: [],
          itemTitle: [],
          itemNum: []
        },
      }
    });

    // 등록 - 루트 인스턴스를 사용하기 전에 컴포넌트를 등록한다.
    Vue.component('app', {
      template: '#app'
    })

    $(function() {
      var _self = this;
      _self.defaultView.app._data.message = 'reload again1!';

      // get products data list
      $.ajax({
        url: '/markets/products',
        type: 'GET',
        dataType: 'json',
        success: function(result) {
          var json = result;

          if (!json) {
            alert('there is no product data! please add data');
          } else {
            _sc = _self;

            var Itemlength = json.data.length;
            _sc.defaultView.app._data.items.cnt = Itemlength;


            for (let i = 0; i < json.data.length; i++) {
              const element = json.data[i];
              _sc.defaultView.app._data.items.itemNum[i] = element.id;
              _sc.defaultView.app._data.items.itemTitle[i] = element.title;
              _sc.defaultView.app._data.items.itemPrice[i] = element.price;
            }
          }
        },
        error: function(err) {
          alert('err occurred');
        }
      })

    })

  </script>

</body>

</html>
