<!DOCTYPE html>
<html>

<head>
  <% include ./templates/head %>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <style>
    .action-panel {
      margin-bottom: 10px;
      margin-right: 5px;
    }

    .container-fluid {
      max-width: 1360px;
      padding: 0 1rem;
    }

    .col {
      margin: 0.5rem 0;
    }

    .card__row {
      position: relative;
    }

    .card__title {
      position: absolute;
      bottom: 0;
      width: 100%;
      font-weight: bold;
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    }

    .clamp-lines {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

  </style>
</head>

<body>
  <!-- header -->
  <% include ./templates/header %>

  <div class=" container-fluid">
    <div class="row">
      <% include ./templates/sidebar %>

      <!-- Dashboard 영역 -->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Market</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
          </div>
        </div>

        <h2>Domains List</h2>
        <div id="app">

          {{ message }}
          <table class="table table-responsive table-hover small">
            <thead>
              <tr>
                <th v-for="key in headers"> {{ key }} </th>
              </tr>
            </thead>

            <tbody>
              <tr v-for="list in roleList">
                <td>{{ list.roleNo }}</td>
                <td>{{ list.name }}</td>
                <td>{{ list.status }}</td>
              </tr>
            </tbody>
          </table>
          <!-- <app-product-item></app-product-item> -->

          <!-- <div class="row action-panel" v-if="!loading">
          <div class="col-xs-12">
          </div>
        </div> -->

          <!-- 상품 등록 리스트 -->
          <!-- <v-col lg3 md4 sm6 v-for="(prod, idx) in products" :key="prod.id">
            <app-product-item :item="prod" :key="prod.id" :displayList="displayList"></app-product-item>
          </v-col> -->

        </div>



      </main>

    </div>
  </div>

  <!--데이터 타입 추가 팝업-->
  <% include ./templates/modals %>

  <script>
    var loginId = "<%=loginId %>";

    $(function() {

      // todo-item 이름을 가진 컴포넌트를 정의합니다
      // 등록 - 루트 인스턴스를 사용하기 전에 컴포넌트를 등록한다. 
      Vue.component('app-product-item', {
        // template: ` <div v-for="(value, key) in object">
        //               {{ key }}: {{ value }}
        //             </div>`,
        template: `<div class="checkbox-wrapper" @click="check">
          <div :class="{ checkbox: true, checked: checked }"></div>
          <div class="title">{{ dataId }}</div>
        </div>`,
        data() {
          return {
            // object: {
            //   firstName: 'John',
            //   lastName: 'Doe',
            //   age: 30
            // }
            checked: false,
            title: 'Check me',
            dataId: 0
          }
        },
        methods: {
          check() {
            this.checked = !this.checked;
          }
        },
      })

      // 루트 인스턴스 생성
      var app = new Vue({
        el: '#app',
        data: {
          message: '안녕하세요 Vue!',
          headers: ['no', '권한명', '권한 상태'],
          roleList: [{
              roleNo: 'test',
              name: 'testName',
              status: 1
            },
            {
              roleNo: 'test2',
              name: 'testName2',
              status: 1
            }
          ]
        }
      });

      // get products data list
      $.ajax({
        url: '/markets/products',
        type: 'GET',
        dataType: 'json',
        success: function(result) {
          console.log("111");
          console.log(result);
          var json = result;

          if (!json) {
            alert('there is no product data! please add data');
          } else {
            var _self = this;
            for (let i = 0; i < json.data.length; i++) {
              _self.dataId = json.data[i].id;
            }
            //alert("test! :" + _self.dataId);
          }
        },
        error: function(err) {
          alert('err occurred');
        }
      })

    })

  </script>

</body>

</html>
