<!DOCTYPE html>
<html>

<head>
  <% include ./templates/head %>
  <style>
    .page-tab {
      padding: 0;
    }

    .page-tab li {
      display: inline-block;
    }

    .page-tab li a {
      display: block;
      padding: 5px 7px;
      font-size: 14px;
      color: #666;
    }

    .page-tab li.on a {
      color: #185482;
      border-bottom: 2px solid #185482;
    }

  </style>

</head>

<body>
  <!-- header -->
  <% include ./templates/header %>

  <div class=" container-fluid">
    <div class="row">
      <% include ./templates/sidebar %>

      <!-- Dashboard 영역 -->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">My Page</h1>
        </div>

        <section class="content-header">
          <ul class="page-tab">
            <li class="on"><a href="#">My Data</a></li>
            <li><a onclick="location.href='/transactions/myTransactions'">Transactions</a></li>
          </ul>
        </section>

        <section class="content">
          <div class="row">
            <div class="col-lg-12">
              <div class="box">
                <div class="box-body table-responsive">
                  <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist" style="margin-bottom:20px; margin-left: 20px">
                      <li role="presentation" class="active"><a href="#traded" id="TradedList" aria-controls="traded"
                          role="tab" data-toggle="tab" aria-expanded="true">Traded</a></li> &nbsp;
                      <li role="presentation" class=""><a href="#uploaded" id="UploadedList" aria-controls="uploaded"
                          role="tab" data-toggle="tab" aria-expanded="false">Uploaded</a>
                      </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div role="tabpanel" class="tab-pane active" id="traded">
                        <!-- traded Datas -->
                      </div>

                      <div role="tabpanel" class="tab-pane" id="uploaded">
                        <!-- uploaded Datas -->
                      </div>
                    </div>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </section>


      </main>

    </div>
  </div>


  <script>
    var loginId = "<%=loginId %>";

    $(function() {
      TradedList();

      // open traded tap
      $("#TradedList").click(function() {
        TradedList();
      });

      // open uploadlist tap 
      $("#UploadedList").click(function() {
        UploadedList();
      });
    });

    function TradedList() {
      var buyUser = this.loginId;

      $.ajax({
        url: '/users/myTradedList',
        data: {
          buyUser: buyUser
        },
        type: 'POST',
        dataType: 'json',
        success: function(result) {
          var json = result;

          $("#traded").empty();
          var trInnerHtml = "";
          trInnerHtml += "<div class=\"table-responsive\">";
          trInnerHtml += " <table class=\"acdn-tbl table table-bordered\">";
          trInnerHtml += " <colgroup>";
          trInnerHtml += " <col style = \"width:14%\">";
          trInnerHtml += " <col style = \"width:10%\">";
          trInnerHtml += " <col style = \"width:16%\">";
          trInnerHtml += " <col style = \"width:10%\">";
          trInnerHtml += " <col style = \"width:10%\">";
          trInnerHtml += " <col style = \"width:16%\">";
          trInnerHtml += " <col style = \"width:14%\">";
          trInnerHtml += " <col style = \"width:5%\">";
          trInnerHtml += " <col style = \"width:5%\">";
          trInnerHtml += " </colgroup>";
          trInnerHtml += " <thead>";
          trInnerHtml += " <tr>";
          trInnerHtml += " <th style=\"background: #efefef;\">Type</th>";
          trInnerHtml += " <th style=\"background: #efefef;\">Provider</th>";
          trInnerHtml += " <th style=\"background: #efefef;\">DateTime</th>";
          trInnerHtml += " <th style=\"background: #efefef;\">Price(OSB)</th>";
          trInnerHtml += " <th style=\"background: #efefef;\">Traded</th>";
          trInnerHtml += " <th style=\"background: #efefef;\">Traded Date</th>";
          trInnerHtml += " <th style=\"background: #efefef;\">Status</th>";
          trInnerHtml += " <th style=\"background: #efefef;\"></th>";
          trInnerHtml += " <th style=\"background: #efefef;\"></th>";
          trInnerHtml += " </tr>";
          trInnerHtml += " </thead>";
          trInnerHtml += " <tbody>";

          if (json.data.length == 0) {
            trInnerHtml += " <tr class=\"acdn-tit\">";
            trInnerHtml += " <td colspan=\"8\" align=\"center\"> NO DATA </td>";
            trInnerHtml += " </tr>";
          } else if (json.data.length > 0) {
            for (let i = 0; i < json.data.length; i++) {
              var datainfo = json.data[i];
              trInnerHtml += " <tr class=\"acdn-tit\" id = showDetail> ";
              trInnerHtml += " <td>" + datainfo.title + "</td>";
              trInnerHtml += " <td>" + datainfo.provider + "</td>";
              trInnerHtml += " <td>" + datainfo.adddate + "</td>";
              trInnerHtml += " <td>" + datainfo.price + "</td>";

              var tradedVal = datainfo.traded == 1 ? "TRUE" : "FALSE";

              trInnerHtml += " <td>" + tradedVal + "</td>";
              var tradeTime = datainfo.buyDate === undefined ? '-' : datainfo.buyDate;
              trInnerHtml += " <td>" + tradeTime + "</td>";
              var statusVal = datainfo.traded == 1 ? "off sale" : "on sale";
              trInnerHtml += " <td>" + statusVal + "</td>";
              var delAble = statusVal == "off sale" ? "" : "disabled";
              trInnerHtml +=
                " <td><button class=\"btn btn-primary btn-xs\" onclick=fileDownload(" + datainfo.dataId +
                ")>Download</button></td>";

              trInnerHtml +=
                " <td><a href=\"#n\" value=\"" + datainfo.dataId +
                "\" class=\"btn-acdn btn btn-primary btn-xs\" onclick = \"\">상세</a></td>";
              trInnerHtml += " </tr>";

              trInnerHtml += " <tr class=\"acdn-cont\" style=\"display:none\">";
              trInnerHtml += " <td colspan=\"8\">";
              trInnerHtml += " <table class=\"table table-bordered\" id=\"detailTable" + datainfo.dataId + "\">";
              trInnerHtml += " <colgroup>";
              trInnerHtml += " <col style = \"width:20%\">";
              trInnerHtml += " <col style = \"width:80%\">";
              trInnerHtml += " </colgroup>";
              trInnerHtml += " <thead>";
              trInnerHtml += " <tr>";
              trInnerHtml += " <th colspan=\"2\" style=\"background: #efefef;\">Metadata Info</th>";
              trInnerHtml += " </tr>";
              trInnerHtml += " </thead>";
              trInnerHtml += " <tbody>";
              trInnerHtml += " <tr>";
              trInnerHtml += " <th style=\"background: #efefef;\">Title</th>";
              trInnerHtml += " <td id=\"dtTitle\"></td>";
              trInnerHtml += " </tr>";
              trInnerHtml += " <tr>";
              trInnerHtml += " <th style=\"background: #efefef;\">Data Origin</th>";
              trInnerHtml += " <td id=\"dtField01\"></td>";
              trInnerHtml += " </tr>";
              trInnerHtml += " <tr>";
              trInnerHtml += " <th style=\"background: #efefef;\">Period</th>";
              trInnerHtml += " <td id=\"dtField02\"></td>";
              trInnerHtml += " </tr>";
              trInnerHtml += " <tr>";
              trInnerHtml += " <th style=\"background: #efefef;\">Format</th>";
              trInnerHtml += " <td id=\"dtField03\"></td>";
              trInnerHtml += " </tr>";
              trInnerHtml += " <tr>";
              trInnerHtml += " <th style=\"background: #efefef;\">Expiry Date</th>";
              trInnerHtml += " <td id=\"dtField04\"></td>";
              trInnerHtml += " </tr>";
              trInnerHtml += " </tbody>";
              trInnerHtml += " </table>";
              trInnerHtml += " </td>";
              trInnerHtml += " </tr>";
            }
          } else {
            alert('조회 실패');
          }
          trInnerHtml += " </tbody>";
          trInnerHtml += " </table>";
          trInnerHtml += "</div>";

          $("#traded").append(trInnerHtml);

          acdnTbl();

        },
        error: function(err) {
          console.log(err);
        }

      })
    }

    function UploadedList() {
      var buyUser = this.loginId;
      var arr = new Array();

      $.ajax({
        url: '/users/myUploadList',
        data: {
          buyUser: buyUser
        },
        type: 'POST',
        dataType: 'json',
        success: function(result) {
          var json = result;

          $("#uploaded").empty();
          var upInnerHtml = "";
          upInnerHtml += "<div class=\"table-responsive\">";
          upInnerHtml += " <table class=\"acdn-tbl table table-bordered\">";
          upInnerHtml += "  <colgroup>";
          upInnerHtml += "    <col style = \"width:14%\">";
          upInnerHtml += "    <col style = \"width:16%\">";
          upInnerHtml += "    <col style = \"width:10%\">";
          upInnerHtml += "    <col style = \"width:10%\">";
          upInnerHtml += "    <col style = \"width:16%\">";
          upInnerHtml += "    <col style = \"width:14%\">";
          upInnerHtml += "    <col style = \"width:10%\">";
          upInnerHtml += "    <col style = \"width:10%\">";
          upInnerHtml += "  </colgroup>";
          upInnerHtml += "  <thead>";
          upInnerHtml += "    <tr>";
          upInnerHtml += "      <th style=\"background: #efefef;\">Type</th>";
          upInnerHtml += "      <th style=\"background: #efefef;\">DateTime</th>";
          upInnerHtml += "      <th style=\"background: #efefef;\">Price(OSB)</th>";
          upInnerHtml += "      <th style=\"background: #efefef;\">Traded</th>";
          upInnerHtml += "      <th style=\"background: #efefef;\">Traded Date</th>";
          upInnerHtml += "      <th style=\"background: #efefef;\">Status</th>";
          upInnerHtml += "      <th style=\"background: #efefef;\"></th>";
          upInnerHtml += "      <th style=\"background: #efefef;\"></th>";
          upInnerHtml += "    </tr>";
          upInnerHtml += "  </thead>";
          upInnerHtml += " <tbody>";

          if (json.data.length == 0) {
            upInnerHtml += "  <tr class=\"acdn-tit\">";
            upInnerHtml += "    <td colspan=\"8\" align=\"center\"> NO DATA </td>";
            upInnerHtml += "  </tr>";
          } else if (json.data.length > 0) {
            for (let i = 0; i < json.data.length; i++) {
              var datainfo = json.data[i];
              upInnerHtml += " <tr class=\"acdn-tit\" id = showDetail > ";
              upInnerHtml += " <td>" + datainfo.title + "</td>";
              upInnerHtml += " <td>" + datainfo.adddate + "</td>";
              upInnerHtml += " <td>" + datainfo.price + "</td>";

              var tradedVal = datainfo.traded == 1 ? "TRUE" : "FALSE";

              upInnerHtml += " <td>" + tradedVal + "</td>";
              var tradeTime = datainfo.buyDate === undefined ? '-' : datainfo.buyDate;
              upInnerHtml += " <td>" + tradeTime + "</td>";
              var statusVal = datainfo.traded == 1 ? "off sale" : "on sale";
              upInnerHtml += " <td>" + statusVal + "</td>";
              var delAble = statusVal == "off sale" ? "" : "disabled";
              upInnerHtml += " <td><button class=\"btn btn-primary btn-xs\" onclick=\"dataDelete(" +
                datainfo.dataId +
                ")\" " + delAble + ">Delete</button></td>";
              upInnerHtml +=
                " <td><a href=\"#n\" value=\"" + datainfo.dataId +
                "\" class=\"btn-acdn btn btn-primary btn-xs\" onclick = \"\">상세</a></td>";
              upInnerHtml += " </tr>";

              // test
              upInnerHtml += " <tr class=\"acdn-cont\" style=\"display:none\">";
              upInnerHtml += " <td colspan=\"8\">";
              upInnerHtml += " <table class=\"table table-bordered\" id=\"detailTable" + datainfo.dataId +
                "\">";
              upInnerHtml += " <colgroup>";
              upInnerHtml += "<col style=\"width:20%\">";
              upInnerHtml += "<col style=\"width:80%\">";
              upInnerHtml += " </colgroup>";
              upInnerHtml += " <thead>";
              upInnerHtml += " <tr>";
              upInnerHtml += " <th colspan=\"2\" style=\"background: #efefef;\">Metadata Info</th>";
              upInnerHtml += " </tr>";
              upInnerHtml += " </thead>";
              upInnerHtml += " <tbody>";
              upInnerHtml += " <tr>";
              upInnerHtml += " <th style=\"background: #efefef;\">Title</th>";
              upInnerHtml += " <td id=\"dtTitle\"></td>";
              upInnerHtml += " </tr>";
              upInnerHtml += " <tr>";
              upInnerHtml += " <th style=\"background: #efefef;\">Data Origin</th>";
              upInnerHtml += " <td id=\"dtField01\"></td>";
              upInnerHtml += " </tr>";
              upInnerHtml += " <tr>";
              upInnerHtml += " <th style=\"background: #efefef;\">Period</th>";
              upInnerHtml += " <td id=\"dtField02\"></td>";
              upInnerHtml += " </tr>";
              upInnerHtml += " <tr>";
              upInnerHtml += " <th style=\"background: #efefef;\">Format</th>";
              upInnerHtml += " <td id=\"dtField03\"></td>";
              upInnerHtml += " </tr>";
              upInnerHtml += " <tr>";
              upInnerHtml += " <th style=\"background: #efefef;\">Expiry Date</th>";
              upInnerHtml += " <td id=\"dtField04\"></td>";
              upInnerHtml += " </tr>";
              upInnerHtml += " </tbody>";
              upInnerHtml += " </table>";
              upInnerHtml += " </td>";
              upInnerHtml += " </tr>";
            }
          } else {
            alert('조회 실패');
          }
          upInnerHtml += " </tbody>";
          upInnerHtml += " </table>";
          upInnerHtml += "</div>";

          $("#uploaded").append(upInnerHtml);

          acdnTbl();

        },
        error: function(err) {
          console.log(err);
        }

      })
    }

    // ?
    function acdnTbl() {
      var btn = $('.btn-acdn');
      btn.each(function() {
        $(this).on('click', function() {
          if (!$(this).closest('.acdn-tit').next('.acdn-cont').is(':visible')) {
            $(this).closest('.acdn-tbl').find('.acdn-cont').hide();
            showDetail($(this).attr('value'));
            $(this).closest('.acdn-tit').next('.acdn-cont').show();

          } else {
            $(this).closest('.acdn-tit').next('.acdn-cont').hide();
          }
        });
      });
    }

    // shwo detail table
    function showDetail(arg) {
      // alert("dataId : " + arg);
      var dataId = arg;
      $.ajax({
        url: '/products/getDatainfo/' + dataId,
        methid: 'GET',
        dataType: 'json',
        success: function(result) {
          var json = result;
          var tableId = "#detailTable" + dataId;

          for (let i = 0; i < json.data.length; i++) {
            var datainfo = json.data[0];

            $(tableId).find("#dtTitle").text(datainfo.dataField01);
            $(tableId).find("#dtField01").text(datainfo.dataField02);
            $(tableId).find("#dtField02").text(datainfo.dataField03);
            $(tableId).find("#dtField03").text(datainfo.dataField04);
            $(tableId).find("#dtField04").text(datainfo.dataField05);
          }
        },
        error: function(err) {
          console.log(err);
        }
      });

    }

    function fileDownload(arg) {
      location.href = "/products/fileDownload/ " + arg + "";
    }

    // data delete
    function dataDelete(arg) {
      var dataId = arg;

      $.ajax({
        url: '/products/deleteItem',
        method: 'POST',
        datatype: 'json',
        data: {
          dataId: dataId
        },
        success: function(result) {
          alert("data delete completed!");
          location.reload();
        },
        error: function(err) {
          console.log(err);
        }

      })

    }

  </script>

</body>

</html>
