<!DOCTYPE html>
<html>

<head>
  <% include ./templates/head %>
</head>

<body>
  <!-- header -->
  <header>
    <% include ./templates/header %>

  </header>

  <div class=" container-fluid">
    <div class="row">
      <% include ./templates/sidebar %>

      <!-- Dashboard 영역 -->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Products</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <!-- <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
              </button> &nbsp; &nbsp; -->
              <button class="btn btn-sm btn-outline-secondary" onclick="openAddDataPopup()">
                <i class="fas fa-plus-circle"></i>&nbsp; Add Data
              </button>
            </div>
          </div>
        </div>

        <h2>Products Manage</h2>
        <h5>Add your domain Data</h5>

        <div class="table-responsive">
          <table class="table table-striped table-sm" id="dataListTable">
            <thead>
              <tr>
                <th>index</th>
                <th>title</th>
                <th>price</th>
                <th>field01</th>
                <th>field02</th>
                <th>file</th>
              </tr>
            </thead>

          </table>
        </div>
        <h5>page navigation</h5>
      </main>
    </div>
  </div>



  <!--데이터 타입 추가 팝업-->
  <% include ./templates/modals %>

  <script>
    var loginId = "<%=loginId %>";

    /* get datatype */
    $(function() {
      $.ajax({
        url: '/domains/getDataTypeList',
        type: 'GET',
        dataType: 'json',
        success: function(result) {
          if (!result.data.length) {
            alert("no datatype data!");
          } else {

            // data purchased 여부 check 
            for (let i = 0; i < result.data.length; i++) {
              const element = result.data[i].title;
              $("#dtype").append("<option value='" + element + "'>" + element + "</option>");
            }
          }

        },
        error: function(err) {
          alert('err occurred');
        }
      })

      /* get data */
      $.ajax({
        url: '/products/getData',
        type: 'GET',
        dataType: 'json',
        success: function(result) {
          var json = result;

          if (!json.data) {
            alert('no data!');
          } else {
            for (let i = 0; i < json.data.length; i++) {
              const datalists = json.data[i];
              const purchased = 0;

              console.log("datalists.traded checked :" + datalists);

              var innerHtml = "";
              innerHtml += " <tbody>";
              innerHtml += "  <tr>";
              innerHtml += "    <td>" + datalists.id + "</td>";
              innerHtml += "    <td>" + datalists.title + "</td>";
              innerHtml += "    <td>" + datalists.price + "</td>";
              innerHtml += "    <td>" + datalists.field01 + "</td>";
              innerHtml += "    <td>" + datalists.field02 + "</td>";

              if (!datalists.saveFile) {
                innerHtml += " <td><button class=\"btn btn-block btn-info disabled\">download</button></td>";
              } else {
                // innerHtml += " <td><button id=\"fileDownload\" class=\"btn btn-block btn-info\" onclick=\"fileDown("+ datalists.id +")\">download</button></td>";
                innerHtml +=
                  " <td><button id=\"fileDownload\" onclick=\"location.href='/products/fileDownload/" +
                  datalists.id + "'\" class=\"btn btn-block btn-info\">download</button></td>";

              }

              innerHtml += "  </tr>";
              innerHtml += " </tbody>";
              $('#dataListTable').append(innerHtml);
            }
            //alert(JSON.stringify(result));
          }
        },
        error: function(err) {
          datatypeId
          alert('err occurred');
        }

      })

      /* test code */
      $('form').submit(function(event) {
        event.preventDefault();
        var form = $('form')[0];
        var formData = new FormData(form);

        // alert(formData);

        $.ajax({
          url: '/products/addData',
          type: 'POST',
          data: formData,
          contentType: false,
          processData: false,
          success: function(data) {
            alert("success!");
            location.reload();
          }
        });
      });


    })

    function openAddDataPopup() {
      //$('#fieldArea *').remove();
      $("#dtype option:eq(0)").prop("selected", true);
      $("#add_data_popup").modal();
    }

    function fn_changeAddType(arg) {
      getDataTypeFiled(arg.value);
    }

    function fileDown(arg) {
      alert('test ' + arg);

      $.ajax({
        url: '/products/fileDownload',
        method: 'POST', //
        dataType: 'json',
        data: {
          dataId: arg
        }, //
        success: function(result) {
          console.log(result.data[0].saveFile);
          file = result.data[0].saveFile;
          var filePath = "" + file;
          // var filePath = '/downloadFile/' + filename;
          $('#fileDownload').attr('href', filePath);
        },
        error: function(err) {
          if (err) {
            console.log(err);
          }
        }


      })
    }

    /* datatype에 대한 datafiled  */
    function getDataTypeFiled(arg) {

      $.ajax({
        url: '/domains/getDataTypeField',
        type: 'GET',
        dataType: 'json',
        data: {
          datatype: arg
        },
        success: function(result) {
          var json = result.data[0];
          var dtypeId = json.id;
          var arr = [json.field01, json.field02, json.field03, json.field04, json.field05];

          console.log("test dtypeId :" + dtypeId);

          $("#fieldArea").empty();
          var innerHtml = "";
          innerHtml += '<div class="input-group mb-3">';
          innerHtml += '  <div class="input-group-prepend">';
          innerHtml += '    <span class="input-group-text" id="basic-addon1">Price</span>';
          innerHtml += '  </div>';
          innerHtml += ' <input type="text" class="edit" id="price" name="price">';
          innerHtml += ' <input type="hidden" id="dtypeId" value="' + dtypeId + '">';
          innerHtml += '</div>';
          $("#fieldArea").append(innerHtml);

          for (let i = 1; i < 6; i++) {
            var innerHtml2 = "";
            innerHtml2 += '<div class="input-group mb-3">';
            innerHtml2 += '  <span class="input-group-text" id="basic-addon1">' + arr[i - 1] + '</span>';
            innerHtml2 += ' <input type="text" class="form-control" id=\"dfield0' + i + '\" name=\"dfield0' + i +
              '\">';
            innerHtml2 += '</div>';
            $("#fieldArea").append(innerHtml2);
          }

        },
        error: function(err) {
          console.log(err);
          alert('데이터 통신에러');
          return;
        }
      })
    }

    function addDataTypeContent() {
      var formData = new FormData();
      formData.append("datatypeId", $("#dtype option:selected").val());
      formData.append("price", $("#fieldArea [name=price]").val());
      formData.append("field01", $("#fieldArea [name=dfield01]").val());
      formData.append("field02", $("#fieldArea [name=dfield02]").val());
      formData.append("field03", $("#fieldArea [name=dfield03]").val());
      formData.append("field04", $("#fieldArea [name=dfield04]").val());
      formData.append("field05", $("#fieldArea [name=dfield05]").val());

      // file download
      formData.append("file_upload", $("#file_upload")[0].files[0]);
      console.log("insert data : " + $("#file_upload")[0].files[0]);
      //formData.append("provider", provider);

      $.ajax({
        url: '/products/addData',
        type: 'POST',
        data: formData,
        processData: false,
        contentType: false,
        success: function(result) {
          alert("success!");
          location.reload();
        },
        error: function(err) {
          console.log(err);
          alert('데이터 통신에러');
          return;
        }
      })
    }

    function filedown() {
      // id,
      // download file 형식으로 
      //var filename = 'oraclenet-구성도.drawio.pdf';
      var filename = '7f03edc7b278a5c3aa859a796a953a39d6439628';
      // 애를 해석할 수 있는 애가 필요하다. 
      var path = '/Users/doublechain/Documents/workspace/wkimdev-marketplace/tmp/test.jpg';
      var filePath = '/downloadFile/' + filename;
      $('#fileDownload').attr('href', filePath);
    }

    function isEmpty() {
      for (var key in this) {
        if (this.hasOwnProperty(key))
          return false;
      }
      return true;
    }

  </script>

</body>

</html>
