<!DOCTYPE html>
<html>

<head>
  <% include ./templates/head %>
</head>

<body>
  <!-- header -->
  <header>
    <% include ./templates/header %>

  </header>

  <div class=" container-fluid">
    <div class="row">
      <% include ./templates/sidebar %>

      <!-- Dashboard 영역 -->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Products</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button> &nbsp; &nbsp;
              <button class="btn btn-sm btn-outline-secondary" onclick="openAddDataPopup()">
                <i class="fas fa-plus-circle"></i>&nbsp; Add Data
              </button>
            </div>
          </div>
        </div>

        <h2>Products Manage</h2>
        <h5>Add your domain Data</h5>
        <h5>seleted list</h5>
        <h5>add button</h5>

        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>#</th>
                <th>Header</th>
                <th>Header</th>
                <th>Header</th>
                <th>Header</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1,001</td>
                <td>Lorem</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
              </tr>
              <tr>
                <td>1,002</td>
                <td>amet</td>
                <td>consectetur</td>
                <td>adipiscing</td>
                <td>elit</td>
              </tr>
            </tbody>
          </table>
        </div>
        <h5>page navigation</h5>
      </main>

    </div>
  </div>

  <!--데이터 타입 추가 팝업-->
  <% include ./templates/modals %>

  <script>
    $(function() {
      $.ajax({
        url: '/domains/getDataTypeList',
        type: 'GET',
        dataType: 'json',
        success: function(result) {
          console.log("callback from getdatatyle : " + JSON.stringify(result));

          if (!result.data.length) {
            alert("no datatype data!");
          } else {
            for (let i = 0; i < result.data.length; i++) {
              const element = result.data[i].title;
              console.log(element);
            }
          }

        },
        error: function(err) {
          alert('err occurred');
        }

      })
    })

    function openAddDataPopup() {
      $('#fieldArea *').remove();
      $("#dtype option:eq(0)").prop("selected", true);
      $("#add_data_popup").modal();
    }

    function fn_changeAddType(arg) {
      getDataType(arg.value);
    }

    function getDataType() {}

  </script>

</body>

</html>
