<div class="modal fade" id="add_data_type_popup">
  <div class="modal-dialog">
    <div class="modal-content" style="width:800px; margin:auto;">
      <div class="modal-header">
        <h4 class="modal-title">Add a new data type</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          ×</button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="email" class="form-control" id="name" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="field01">field1</label>
          <input type="email" class="form-control" id="field01" placeholder="field01">
        </div>
        <div class="form-group">
          <label for="field02">field2</label>
          <input type="email" class="form-control" id="field02" placeholder="field02">
        </div>
        <div class="form-group">
          <label for="field03">field3</label>
          <input type="email" class="form-control" id="field03" placeholder="field03">
        </div>
        <div class="form-group">
          <label for="field04">field4</label>
          <input type="email" class="form-control" id="field04" placeholder="field04">
        </div>
        <div class="form-group">
          <label for="field05">field5</label>
          <input type="email" class="form-control" id="field05" placeholder="field05">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="addDataType();">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


<!--데이터 추가 팝업-->
<div class="modal fade" id="add_data_popup">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">Add a new data</h4>
      </div>
      <div class="modal-body">
        <select class="form-control" name="dtype" id="dtype" onchange="fn_changeAddType(this)">
          <option value="">선택</option>
        </select>
        <div id="fieldArea">

        </div>
        <p style="margin-top:20px;">Pic file: <input type="file" name="file_upload" style="margin-top:10px;" /></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="commitAddData();">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
