<div class="modal fade" id="add_data_type_popup">
  <div class="modal-dialog">
    <div class="modal-content" style="width:800px; margin:auto;">
      <div class="modal-header">
        <h4 class="modal-title">Add a new data type</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          ×</button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="email" class="form-control" id="name" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="field01">field1</label>
          <input type="email" class="form-control" id="field01" placeholder="field01">
        </div>
        <div class="form-group">
          <label for="field02">field2</label>
          <input type="email" class="form-control" id="field02" placeholder="field02">
        </div>
        <div class="form-group">
          <label for="field03">field3</label>
          <input type="email" class="form-control" id="field03" placeholder="field03">
        </div>
        <div class="form-group">
          <label for="field04">field4</label>
          <input type="email" class="form-control" id="field04" placeholder="field04">
        </div>
        <div class="form-group">
          <label for="field05">field5</label>
          <input type="email" class="form-control" id="field05" placeholder="field05">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="addDataType();">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
