<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="/mypage">
          My Page
        </a>
      </li>
      <!-- data 를 추가하면 datalist가 동적으로 추가  -->
      <li class="nav-item">
        <a class="nav-link" href="/domains">
          <span data-feather="file"></span>
          Domains
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products">
          <span data-feather="shopping-cart"></span>
          Products
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/markets">
          <span data-feather="users"></span>
          Market
        </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link active" href="#">
          <span onclick="openAddDataTypePopup()"><i class="fas fa-plus-circle"></i>&nbsp; Add Data</span>
        </a>
      </li> -->
    </ul>

    </ul>
  </div>

</nav>


<!-- 아래 스크립트를 부르지 않으면 $(...).modal is not a function 에러가 난다  -->
<script src="/js/bootstrap.js"></script>
<script>
  // function openAddDataTypePopup() {
  //   $('#add_data_type_popup').modal();
  // }

</script>
